# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# CMake build directories
CMakeLists.txt.user
.cmake/
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
cmake-build-release/
*.cmake
